<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Clarobi plugin configuration</title>

        <name>
            Please fill in your personal Clarobi credentials below for your plugin to take action.
        </name>

        <input-field type="text">
            <name>apiLicense</name>
            <label>Api License</label>
            <required>true</required>
            <placeholder>XXXXXXXX</placeholder>
        </input-field>

        <input-field type="text">
            <name>apiKey</name>
            <label>Api Key</label>
            <required>true</required>
            <placeholder>XXXXXXXX</placeholder>
        </input-field>

        <input-field type="text">
            <name>apiSecret</name>
            <label>Api Secret</label>
            <required>true</required>
            <placeholder>XXXXXXXX</placeholder>
        </input-field>
    </card>

</config>
